<header>
  <!-- Intro settings -->
  <style>
    #intro {
      /* Margin to fix overlapping fixed navbar */
      margin-top: 58px;
    }
    @media (max-width: 991px) {
      #intro {
        /* Margin to fix overlapping fixed navbar */
        margin-top: 45px;
      }
    }

    nav {
        transition: background 1s ease;
        }

    
  </style>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-whit fixed-top" style="border-bottom:#222222">
    <div class="container-fluid">
      <!-- Navbar brand -->
      <a class="navbar-brand" style="colo:white" href="/">
        <span>BLOG</span>
      </a>
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarExample01"
        aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarExample01">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <a class="nav-link" style="colo:white" aria-current="page" href="/">Home</a>
          </li>
        </ul>

        <ul class="navbar-nav d-flex flex-row">
          <!-- Icons -->
          <li class="nav-item me-3 me-lg-0">
            <!-- <a class="nav-link" href="https://www.youtube.com/channel/UC5CF7mLQZhvx8O5GODZAhdA" rel="nofollow"
              target="_blank">
              <i class="fab fa-youtube"></i>
            </a> -->
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar -->
</header>
<script>
  var nav = document.querySelector(".navbar")
    var navbrand = document.querySelector(".navbar-brand") 
    var navlink = document.querySelector(".nav-link")
'<% if request.url == root_url%>'
    

document.addEventListener("turbo:load", function() {
    // nav.style.backgroundColor = 'white';
    navbrand.style.color = "white";
    navlink.style.color = "white";
  });
  


  // trigger this function every time the user scrolls
  window.onscroll = function (event) {
    var scroll = window.pageYOffset;
    if (scroll < 30) {
        // green
        nav.style.backgroundColor = '';
        navbrand.style.color = "white";
        navlink.style.color = "white";
    }
    if (scroll > 30) {
      nav.style.backgroundColor = 'white';
      navbrand.style.color = "black";
      navlink.style.color = "black";

    }
  }
'<%else%>'
document.addEventListener("turbo:load", function() {
    nav.style.backgroundColor = 'white';
    nav.style.borderBottom = '1px solid rgb(219 219 219)';

  });
'<%end%>'
  </script>